<!DOCTYPE html>
<html>
<head>
    <title>Edit Booking</title>
</head>

<body>

    <h1>Edit Booking</h1>

    <form method="POST">

        {% csrf_token %}

        <label>Customer Name:</label>
        <input type="text"
               name="customer_name"
               value="{{ booking.customer_name }}">
        <br><br>

        <label>Event Date:</label>
        <input type="text"
               name="event_date"
               value="{{ booking.event_date }}">
        <br><br>

        <label>Hall Name:</label>
        <input type="text"
               name="hall_name"
               value="{{ booking.hall_name }}">
        <br><br>

        <label>Phone Number:</label>
        <input type="text"
               name="phone"
               value="{{ booking.phone }}">
        <br><br>

        <button type="submit">Update Booking</button>

    </form>

    <br>

    <a href="{% url 'booking_list' %}">
        Back to Bookings
    </a>

</body>
</html>